.env
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
# Verificar se tem algum problema ignorar estes arquivos
**/project.nuget.cache
**/Agendamentos.csproj.AssemblyReference.cache
**/Agendamentos.GeneratedMSBuildEditorConfig.editorconfig
**/Agendamentos.AssemblyInfoInputs.cache
**/Agendamentos.AssemblyInfo.cs
**/project.assets.json
**/project.nuget.cache
**/Agendamentos.csproj.nuget.g.props
**/Agendamentos.csproj.nuget.dgspec.json
**/Agendamentos.AssemblyInfoInputs.cache

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
